{
  "openapi": "3.1.0",
  "info": {
    "title": "Norric Intelligence API",
    "version": "2.0.0",
    "description": "Machine-readable description of Norric's documented public HTTP surface. Norric's product functions are MCP tools, not separate REST paths. Use the Streamable HTTP MCP endpoint to initialize a session and call tools. Availability varies by function; check service status and data freshness before consequential use."
  },
  "servers": [
    {"url": "https://mcp.norric.io", "description": "Norric MCP service"}
  ],
  "externalDocs": {"description": "Norric developer guide", "url": "https://norric.io/docs"},
  "tags": [
    {"name": "Service", "description": "Public service status"},
    {"name": "MCP", "description": "Model Context Protocol over Streamable HTTP"}
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["Service"],
        "summary": "Get service and pipeline health",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "Current service status, tool count, product statistics, and pipeline freshness",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HealthResponse"}}}
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "tags": ["MCP"],
        "summary": "Send an MCP JSON-RPC request",
        "description": "Streamable HTTP MCP endpoint. Initialize first and capture the `mcp-session-id` response header. Send that header on later requests such as `tools/list` and `tools/call`. MCP clients normally handle this handshake automatically.",
        "operationId": "postMcpRequest",
        "security": [{"bearerAuth": []}, {"norricApiKey": []}],
        "parameters": [
          {"name": "mcp-session-id", "in": "header", "required": false, "description": "Session ID returned by initialization; required for subsequent session-bound requests.", "schema": {"type": "string"}},
          {"name": "Accept", "in": "header", "required": true, "schema": {"type": "string", "const": "application/json, text/event-stream"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JsonRpcRequest"}}}
        },
        "responses": {
          "200": {
            "description": "MCP JSON-RPC response or event stream",
            "headers": {"mcp-session-id": {"description": "Session ID issued during initialization", "schema": {"type": "string"}}},
            "content": {
              "application/json": {"schema": {"$ref": "#/components/schemas/JsonRpcResponse"}},
              "text/event-stream": {"schema": {"type": "string"}}
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthError"}}}
          },
          "429": {"description": "Rate limit exceeded. Wait 60 seconds and retry once."},
          "503": {"description": "Data source temporarily unavailable. Retry after five minutes."}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {"type": "http", "scheme": "bearer", "description": "Norric API key in the Authorization header."},
      "norricApiKey": {"type": "apiKey", "in": "header", "name": "X-Norric-Key", "description": "Alternative API-key header. Authorization takes precedence when both headers are sent."}
    },
    "schemas": {
      "JsonRpcRequest": {
        "type": "object",
        "required": ["jsonrpc", "method"],
        "properties": {
          "jsonrpc": {"type": "string", "const": "2.0"},
          "id": {"oneOf": [{"type": "string"}, {"type": "integer"}, {"type": "null"}]},
          "method": {"type": "string", "examples": ["initialize", "tools/list", "tools/call"]},
          "params": {"type": "object", "additionalProperties": true}
        },
        "additionalProperties": false
      },
      "JsonRpcResponse": {
        "type": "object",
        "required": ["jsonrpc"],
        "properties": {
          "jsonrpc": {"type": "string", "const": "2.0"},
          "id": {"oneOf": [{"type": "string"}, {"type": "integer"}, {"type": "null"}]},
          "result": {},
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {"code": {"type": "integer"}, "message": {"type": "string"}, "data": {}},
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "HealthResponse": {
        "type": "object",
        "required": ["status", "mcp_tools", "version"],
        "properties": {
          "status": {"type": "string", "examples": ["ok", "degraded"]},
          "mcp_tools": {"type": "integer", "minimum": 0},
          "version": {"type": "string"},
          "products": {"type": "object", "additionalProperties": true},
          "pipeline_freshness": {"type": "object", "additionalProperties": true}
        },
        "additionalProperties": true
      },
      "AuthError": {
        "type": "object",
        "required": ["error"],
        "properties": {"error": {"type": "string"}},
        "additionalProperties": false
      }
    }
  },
  "x-norric-mcp": {
    "protocolVersion": "2024-11-05",
    "transport": "streamable-http",
    "registryName": "io.github.gucceed/norric-mcp",
    "registryUrl": "https://registry.modelcontextprotocol.io/v0.1/servers?search=norric",
    "apiKeyUrl": "https://norric.io/api-keys"
  }
}
